

:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
  }



html {
    scroll-behavior: smooth;
}


.masthead{


    background-image: url(https://images.hdqwalls.com/download/2017-blade-runner-2049-movie-4k-de-2560x1080.jpg);
    /* min-height: 100vh;
    background-size: cover;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);   */
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden
   

    
}

.hero__content {
  z-index: 1;
}

.hero__content-width {
  max-width: 540px;
}

@media (min-width: 1400px) {
  .hero__heading {
      font-size: 3.2rem;
  }
}



h1 {
    font-size: 4rem;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 2);
    opacity: 20%;
    position: absolute;
    width: 100%;
    height: 100%;
    
    
}

.landing-button {
    position: absolute;
    width: 100%;
    height: 100%;
}


.movie-feature {

    color: whitesmoke;
    border-radius: 15px;

    background-color: black;

    height: 500px;
    width: 800pxx;
    padding: 100px;
    margin-left: 75px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-right: 700px;
    box-sizing: border-box;
}

navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.15rem;
    text-decoration: none;
    white-space: nowrap;
  }


@media (max-width: 768px) {
    .masthead{
        min-height: 30vh;
    }


    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
}


/*
* Custom Container
*/
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  @media (min-width: 1200px) {
    .container-custom { width: 1140px; }
  }
  
  @media (min-width: 1400px) {
    .container-custom { width: 1340px; }
  }
  
  @media (min-width: 1600px) {
    .container-custom { width: 1520px; }
  }

/*
* Steps Section
*/
.steps {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .steps__content-width {
    max-width: 456px;
    margin: 0 auto;
  }
  
  .steps--background {
    background-color: rgb(232, 232, 232);
  }
  
  @media (min-width: 544px) {
    .steps {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  
    .steps__section-thumbnail {
      height: auto;
    }
  }